<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/caiofabiogomes/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="caiofabiogomes" />
      <add key="ClearTextPassword" value="" />
    </GitHub>
  </packageSourceCredentials>
</configuration>